@model SetUserRole

@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .text-dange {
        color: red;
        font-size: 14px;
    }
</style>

<section id="main-content">
    <section class="wrapper">
        <div class="form-w3layouts">
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Edit User
                        </header>
                        <div class="panel-body">
                            <div class=" form">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <form asp-action="EditUser" method="post" id="edituser">
                                    <div class="form-group">
                                        <label for="UserName">UserName:</label>
                                        <input name="User.UserName" class="form-control" value="@Model.User.UserName" id="username"/>
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="Email">Email:</label>
                                        <input name="User.UserName" class="form-control" value="@Model.User.Email" id="email"/>
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="Role">Role:</label>
                                        <select name="Role.Name">
                                            @foreach (var r in Model.Roles)
                                            {
                                                <option value="@r.Name">@r.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Edit</button>
                                        <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</section>
<script src="~/js/validate.js"></script>
<script>
    Validator({
        form: "#edituser",
        formGroupSelector: ".form-group",
        errorSelector: ".text-danger",
        rules: [
            Validator.isRequired("#username"),
            Validator.isRequired("#email"),
            Validator.isEmail("#email", "Email is incorrect"),
        ],
    });
</script>