@using Microsoft.AspNetCore.Identity
@using HealthInsurance.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*<ul class="navbar-nav">*@
@if (SignInManager.IsSignedIn(User))
{
    <li class="dropdown">


        <a data-toggle="dropdown" class="dropdown-toggle" title="Manage">
            <span style="font-size:15px">@UserManager.GetUserName(User)!</span>
        </a>

        <ul class="dropdown-menu extended logout">
            <li><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class=" fa fa-suitcase"></i>Profile</a></li>
            <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
            <li><a href="login.html"><i class="fa fa-key"></i> Log Out</a></li>
        </ul>
    </li>
    @*<a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>*@


}
@*else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
    </ul>*@
