
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

    <style>
        header, aside {
            display: none;
        }
    </style>

<body class="bg-gradient-primary">
    <div>
        @RenderBody()
    </div>
</body>

@section Scripts{
    @RenderSection("Scripts", required: false)
}