@model IQueryable<Company>;


    <section id="main-content" style="margin-top: 40px">
        <section class="wrapper">
            <div class="table-agile-info">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        User Company
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped b-t b-light">
                            <thead>
                                <tr>
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        Location
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var p in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="boximg col-md-4">
                                                <img src="@p.CompanyURL">
                                            </div>
                                        </td>
                                        <td>
                                            @p.CompanyName
                                        </td>
                                        <td>
                                            @p.Address
                                        </td>
                                        <td>
                                            @p.Phone
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </section>
    </section>